.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    "header"
    "info-section"
    "chart"
    "histo";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr 4fr;
}

.container > div {
    /*border: 1px dashed #888;*/
}

.header {
    grid-area: header;
}

.chart {
    grid-area: chart;
}

.histo {
    grid-area: histo;
}

.chart-title {
    padding: 10px 0 0 0;
    text-align: center;
    color: white;
}

.domain{
    color: white;
}

.tick{
    color: white;
}

.line {
    fill: none;
    stroke-width: 3px;
}

.greenLine {
    stroke: green;
}

.redLine {
    stroke: red;
}

.tooltip {
    position: absolute;
    opacity: 0.8;
    z-index: 1000;
    text-align: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 8px;
    color: #fff;
    background-color: #000;
    font: 12px sans-serif;
    max-width: 300px;
    height: 53px;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0;
}

.verticalLine {
    fill: none;
    shape-rendering: crispEdges;
    stroke: lightgrey;
    stroke-width: 1px;
}

.horizontalGrid {
    fill: none;
    shape-rendering: crispEdges;
    stroke: lightgrey;
    stroke-width: 1px;
}

#country_confirmed {
    margin: 10px 10px 10px 10px;
    background-color: #212121;
}

#country_deaths {
    margin: 10px 10px 10px 10px;
    background-color: #212121;
}

#country_recovered {
    margin: 10px 10px 10px 10px;
    background-color: #212121;
}

.section-secondary-numbers {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.section {
    width: 30%;
    align-items: center;
    justify-content: center;
    flex: none;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: default;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    background: white;
    margin: 10px;
    box-shadow: var(--light-box-shadow);
    border-radius: 40px;
}

.section-number {
    font-size: 27px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    white-space: nowrap;
    flex: none;
}

.section-name {
    color: var(--grey);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
}

section {
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.country-name {
    font-size: 60px;
}