body {
    background-color: black;
    font-family: "Avenir Next W01","Avenir Next W00","Avenir Next",Avenir,"Helvetica Neue",sans-serif;
}

.footer {
    grid-area: footer;
}

.header {
    background-color: #212121;
    padding: 1px 0;
    color: white;
    border: 1px solid #363636;
    margin: 10px 5px 5px 5px;
}

.header-title{
    margin: 10px 5px 5px 5px;
    text-align: center;
    float: left;
    width: 95%;
}

.menu {
    /*margin: 0px 5px 0px 5px;
    background-color: #212121;
    color: white;
    border: 1px solid #363636;*/
    float:left;
    width: 0%;
    margin: 0px 0px 0 0px;
}

.header-title p {
    font-size: 1.6994866rem;
    margin: 5px 0 0 0;
}

.header-title a {
    text-decoration: none;
    color: white;
}

.source-title {
    font-size: 12px;
}

.footer-title {
    margin: 10px 5px 5px 5px;
    text-align: center;
    clear: both;
    background-color: #212121;
    color: white;
    border: 1px solid #363636;
}

.footer-title p {
    margin: 5px 0 0 0;
}

.footer-title a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-title .version {
    font-size: 12px;
}

.block-decoration {
    background-color: #212121;
    margin: 5px 5px 5px 5px;
}

.div-title {
    padding: 10px 0 0 0;
    text-align: center;
}

.div-border {
    border-left: solid 0.5px red;
    border-right: solid 0.5px red;
}

.text-decoration {
    text-align: center;
    color: white;
}

.text-smal-size {
    font-size: 12px;
}

.feature-list {
    border-bottom: 1px solid #5c5c5c;
}

.cursor-pointer {
    cursor: pointer;
}

#list {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0px 0px 0px 0px;
    height: 50vh;
}

#list h5 {
    font-size: 1.00rem;
    margin: 0;
    text-align: left;
    margin-left: 10px;
}

#list h5 a {
    color: white;
    text-decoration: none;
}

.font-normal {
    font-weight: normal;
}

.green {
    color: rgb(112, 168, 0);
}

.red {
    color: rgb(230, 0, 0)
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: grey; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bdbdbd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#map-container {
    background: #1a1c20;
}

.number {
    font-size: 2.5vw;
    font-weight: bold;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

    .header-title p {
        font-size: 1.6994866rem;
        margin: 5px 0 0 0;
    }

    .source-title {
        font-size: 8px;
    }

    .menu {
        width: 75%;
    }

    .header-title {
        width: 15%;
    }
}


@media screen and (max-width: 640px) {

    .header-title p {
        font-size: 1rem;
    }

    .source-title {
        font-size: 10px;
    }

    .footer-title {
        font-size: 10px;
    }

    .footer-title a {
        font-size: 10px;
    }

    .menu {
        width: 10%;
    }

    .header-title {
        width: 85%;
    }
  }


/* Dropdown Button */
.dropbtn {
    width: 30px;
    background-color: #212121;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    margin: 0 0 0 -100px;
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #404040;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #9e9e9e;
    border-top: 1px solid #404040;
    font-size: .875rem;
}
  
.dropdown-content a:hover {
      background-color: #212121;
}
  
.show {
    display: block;
}