.domain{
    color: black;
}

.tick{
    color: black;
}

.redBar {
    fill: red;
}

.greenBar {
    fill: green;
}

.purpleBar {
    fill: rgb(186,85,211);
}

.greenBar:hover {
    fill: #23415a;
}

.redBar:hover {
    fill: #23415a;
}

.tooltip {
    position: absolute;
    opacity: 0.8;
    z-index: 1000;
    text-align: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 8px;
    color: #fff;
    background-color: grey;
    font: 12px sans-serif;
    max-width: 300px;
}

.histo-title {
    padding: 10px 0 0 0;
    text-align: center;
    color: white;
}

#country_histo_confirmed {
    margin: 10px 10px 10px 10px;
}

#country_histo_deaths {
    margin: 10px 10px 10px 10px;
}

#country_histo_recovered {
    margin: 10px 10px 10px 10px;
}