.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    "header"
    "info-section"
    "chart"
    "histo";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.container > div {
    /*border: 1px dashed #888;*/
}

.header {
    grid-area: header;
}

.confirmed-histo {
    grid-area: confirmed-histo;
}

.deaths-histo {
    grid-area: deaths-histo;
}

.recovered-histo {
    grid-area: recovered-histo;
}

.footer {
    grid-area: footer;
}

.domain{
    color: white;
}

.tick{
    color: white;
}

.redBar {
    fill: red;
}

.greenBar {
    fill: green;
}

.greenBar:hover {
    fill: #23415a;
}

.redBar:hover {
    fill: #23415a;
}

.tooltip {
    position: absolute;
    opacity: 0.8;
    z-index: 1000;
    text-align: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 8px;
    color: #fff;
    background-color: #000;
    font: 12px sans-serif;
    max-width: 300px;
}

.histo-title {
    padding: 10px 0 0 0;
    text-align: center;
    color: white;
}

#country_histo_confirmed {
    margin: 10px 10px 10px 10px;
    background-color: #212121;
}

#country_histo_deaths {
    margin: 10px 10px 10px 10px;
    background-color: #212121;
}

#country_histo_recovered {
    margin: 10px 10px 10px 10px;
    background-color: #212121;
}