.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "header header header header"
    "total-confirmed total-death total-recovered map"
    "list-confirmed list-death list-recovered map"
    "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 4fr;
    grid-template-rows: 0.1fr 0.3fr 1fr 0.1fr;
}

.container > div {
    /*border: 1px dashed #888;*/
}
  
.header {
    grid-area: header;
}

.total-confirmed {
    grid-area: total-confirmed;
}

.map {
    grid-area: map;
}

.total-death {
    grid-area: total-death;
}

.total-recovered {
    grid-area: total-recovered;
}

.list-confirmed {
    grid-area: list-confirmed;
}

.list-death {
    grid-area: list-death;
}

.list-recovered {
    grid-area: list-recovered;
}

.text-smal-size {
    font-size: 12px;
}

.feature-list {
    border-bottom: 1px solid #5c5c5c;
}

.cursor-pointer {
    cursor: pointer;
}

.menu{
    display: none;
}