.svg {
    float: left;
    display: block;
    /*background: #1a1c20;*/
    color: #bebebe;
    font-family: "Lucida Console", Monaco, monospace;
}

.country {
    fill: #999;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
}

.spinner{
    margin-top: 40vh;
}

#loader {
    position: relative;
}