body {
    background-color: black;
    font-family: "Avenir Next W01","Avenir Next W00","Avenir Next",Avenir,"Helvetica Neue",sans-serif;
}

.text-title {
    font-size: 1.6994866rem;
    line-height: 1.3875;
}

#header, #confirmed, #footer, #recovered, #death{
    padding:1px 0;
    color: white;
    border: 1px solid #363636;
}

#header {
    margin: 10px 5px 5px 5px;
    text-align:center;
    background-color: #212121;
}

#main {
    max-with:960px;
    margin:auto;
    margin: 0 5px 0 5px;
}

#confirmed  {
    float:left;
    width: 15%;
    margin: 10px 5px 10px 5px;
    height: 500px;
}

#container {
    float: left;
    margin: 10px 5px 10px 5px;
    width:50%;
}

#death {
    float: left;
    width: 15%;
    margin: 10px 5px 10px 10px;
    height: 500px;
}

#recovered {
    float: left;
    width: 15%;
    margin: 10px 5px 10px 5px;
    height: 500px;
}

#footer {
    margin: 10px 5px 5px 5px;
    text-align:center;
    clear:both;
    background-color: #212121;
}

#title {
    margin: 0px 0px 8px 0px;
    background-color: #212121;
}

#list {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0px 0px 8px 0px;
    height: 300px;
}

.div-list{
    background-color: #212121;
}

.div-border {
    border-left: solid 0.5px red;
    border-right: solid 0.5px red;
}

.div-title {
    padding: 10px 0 0 0;
    text-align: center;
}

.number {
    font-size: 50px;
    font-weight: bold;

}

.text-center {
    text-align: center;
    font-size: 12px;
}

.green {
    color: rgb(112, 168, 0);
}

.red {
    color: rgb(230, 0, 0)
}

.center {
    margin: auto;
    width: 100%;
}

#list::-webkit-scrollbar {
    -webkit-appearance: none;
}

#list::-webkit-scrollbar:vertical {
    width: 11px;
}

#list::-webkit-scrollbar:horizontal {
    height: 11px;
}

#list::-webkit-scrollbar-thumb {
    border: 1px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.cursor-pointer{
    cursor: pointer;
}


h5 {
    font-size: 1.05rem;
    margin: 0;
    text-align: left;
    margin-left: 10px;
}

.feature-list{
    border-bottom: 1px solid #5c5c5c;
}

#footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#footer .version {
    font-size: 12px;
}

#footer p {
    margin: 5px 0 0 0;
}

h5 a {
    color: white;
    text-decoration: none;
} 