{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/country.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chart.css">
    <link rel="stylesheet" type="text/css" href="/static/css/histogramme.css">
    <script type="text/javascript">
        var countryCode = '{{ country_code }}'
        var provinceName = '{{ province_name }}'
    </script>
{% endblock %}
{% block content %}
    <section>
        <div class="header">
            <!--coutnry info-->
            <div class="">
                <div class="country-title">
                    <h1>
                        <img src={{ "https://www.countryflags.io/" + country_code + "/shiny/64.png" }} style="margin-bottom: -5px;"> 
                        <span class="country-name">{{ country_name }}</span>
                    </h1>
                </div>
                <div class="buymecoffee">
                    <a href="https://www.buymeacoffee.com/mikedido" target="_blank">
                        <img src="https://cdn.buymeacoffee.com/buttons/v2/default-green.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" >
                    </a>
                </div>
            </div>
        </div>
        <div class="info-section">
            <!--info COVID19-->
            <div class="section-secondary-numbers">
                <div class="section" >
                    <div class="section-number red">{{ country_info['total']['confirmed'] | pretty_number }}</div>
                    <div class="section-name">Total cases</div>
                </div>
                <div class="section" >
                    <div class="section-number purple">{{ country_info['total']['deaths'] | pretty_number }}</div>
                    <div class="section-name">Deaths</div>
                </div>
                <div class="section" >
                    <div class="section-number orange">{{ country_info['total']['active'] | pretty_number }}</div>
                    <div class="section-name">Active</div>
                </div>
                <div class="section" >
                    <div class="section-number">{{ country_info['population'] | pretty_number }}</div>
                    <div class="section-name">Population</div>
                </div>
                <div class="section" >
                    <div class="section-number">{{ ((country_info['total']['confirmed']|int * 1000000)/ country_info['population']|int) | round | int | pretty_number }}</div>
                    <div class="section-name">Cases per milion</div>
                </div>
                <div class="section" >
                    <div class="section-number">{{ ((country_info['total']['deaths']|int * 1000000)/ country_info['population']|int) | round | int | pretty_number }}</div>
                    <div class="section-name">Death per million</div>
                </div>
                <div class="section" >
                    <div class="section-number">{{ "{:.2f}".format(country_info['total']['Case_Fatality_Ratio']|float)  }}%</div>
                    <div class="section-name">Case fatality rate</div>
                </div>
                <div class="section" >
                    <div class="section-number green">{{ country_info['total']['recovered'] | pretty_number }}</div>
                    <div class="section-name">Recovered</div>
                </div>
                <div class="section" >
                    <div class="section-number">{{ "{:.2f}".format((country_info['total']['recovered']|float / country_info['total']['confirmed']|float) * 100)  }}%</div>
                    <div class="section-name">Recovered Percent</div>
                </div>
                <div class="section" >
                    <div class="section-number">{{ "{:.2f}".format(country_info['total']['Incident_Rate']|float)  }}</div>
                    <div class="section-name">Incidente rate</div>
                </div>

            </div>
        </div>
        {% if country_info['provinces'] %}
            <div class="region-page-local-map">
                <h2>Provinces list</h2>
                <div class="region-page-local-map-list">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="4" class="border-right border-left">Total</th>
                                <th colspan="2" class="border-right">Percent %</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Province</th>
                                <th>Administration</th>
                                <th>Population</th>
                                <th class="border-left">case</th>
                                <th>active</th>
                                <th>deaths</th>
                                <th class="border-right">recovered</th>
                                <th>recovered</th>
                                <th class="border-right">death</th>
                                <th>Fatality</th>
                                <th>Incident</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for province in country_info['provinces'] %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ province['name'] }}</td>
                                    <td>{{ province['administration'] }}</td>
                                    <td>{{ province['population'] | pretty_number }}</td>
                                    <td class="red">{{ province['total']['confirmed'] | pretty_number }}</td>
                                    <td class="orange">{{ province['total']['active'] | pretty_number }}</td>
                                    <td class="purple">{{ province['total']['deaths'] | pretty_number }}</td>
                                    <td class="green">{{ province['total']['recovered'] | pretty_number }}</td>
                                    {% if province['total']['confirmed']|float > 0 %}
                                        <td class="green">{{ "{:.2f}".format((province['total']['recovered']|float / province['total']['confirmed']|float) * 100)  }}%</td>
                                        <td class="red">{{ "{:.2f}".format((province['total']['deaths']|float / province['total']['confirmed']|float) * 100)  }}%</td>
                                    {% else %}
                                        <td></td>
                                        <td></td>
                                    {% endif %}
                                    <td>{{ "{:.2f}".format(province['total']['Case_Fatality_Ratio']|float)  }}</td>
                                    <td>{{ "{:.2f}".format(province['total']['Incident_Rate']|float)  }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        
        <!--Charts tabs-->
        <div class="chart">
            <h2>Evolution</h2>
            <div class="tab tab-decor">
                <button class="tablinks active" onclick="openTab('tablinksConfirmed', 'Confirmed', 'tabcontent', 'tablinks')">Confirmed</button>
                <button class="tablinks" onclick="openTab('tablinksDeaths', 'Deaths', 'tabcontent', 'tablinks')">Deaths</button>
                <button class="tablinks" onclick="openTab('tablinksRecovered', 'Recovered', 'tabcontent', 'tablinks')">Recovered</button>
              </div>
              
              <div id="Confirmed" class="tabcontent">
                <div id="country_confirmed" class="confirmed-chart">
                    
                    <div id='chart_confirmed'></div>
                </div>
              </div>
              
              <div id="Deaths" class="tabcontent">
                <div id="country_deaths" class="death-chart">
                    
                    <div id='chart_deaths'></div>
                </div>
              </div>
              
              <div id="Recovered" class="tabcontent ">
                <div id="country_recovered" class="recovered-chart">
                    
                    <div id='chart_recovered'></div>
                </div>
              </div>
        </div>
    
        <!--Histogramme tabs-->
        <div class="histo">
            <h2>New cases</h2>
            <div class="tab tab-decor">
                <button class="tablinksHisto active" onclick="openTab('tablinksHistoConfirmed', 'ConfirmedHisto', 'tabcontentHisto', 'tablinksHisto')">Confirmed</button>
                <button class="tablinksHisto" onclick="openTab(event, 'DeathsHisto', 'tabcontentHisto', 'tablinksHisto')">Deaths</button>
                <button class="tablinksHisto" onclick="openTab('tablinksHistoRecovered', 'RecoveredHisto', 'tabcontentHisto', 'tablinksHisto')">Recovered</button>
            </div>
              
            <div id="ConfirmedHisto" class="tabcontentHisto">
                <div id="country_histo_confirmed" class="confirmed-histo">
                    
                    <div id='histo_confirmed'></div>
                </div>
            </div>
              
            <div id="DeathsHisto" class="tabcontentHisto">
                <div id="country_histo_deaths" class="death-histo">
                    
                    <div id='histo_deaths'></div>
                </div>
            </div>
              
            <div id="RecoveredHisto" class="tabcontentHisto ">
                <div id="country_histo_recovered" class="recovered-histo">
                    
                    <div id='histo_recovered'></div>
                </div>
            </div>
        </div>     
    </section>
{% endblock %}    
{% block script %}
<script type="text/javascript" src='/static/js/charts.js'></script>
<script type="text/javascript" src='/static/js/histogramme.js'></script>
<script>
    /**
     * Open Tab
     * 
     */
    const openTab = (eventTab, chartName, classTab, classLink) => {
        let tabcontent = document.getElementsByClassName(classTab);
        
        for (let i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        document.getElementById(chartName).style.display = "block";       
    }

    /*Init*/
    openTab('tablinksHistoConfirmed', 'ConfirmedHisto', "tabcontentHisto", "tablinksHisto");
    openTab('tablinksConfirmed', 'Confirmed', "tabcontent", "tablinks");

    var btnsTabChart = document.getElementsByClassName("tablinks");
        
    for (let i = 0; i < btnsTabChart.length; i++) {
        btnsTabChart[i].addEventListener("click", function() {
            
            let current = document.getElementsByClassName("tablinks active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }

    var btnsTabHisto = document.getElementsByClassName("tablinksHisto");
        
    for (let i = 0; i < btnsTabHisto.length; i++) {

        btnsTabHisto[i].addEventListener("click", function() {            
            let current = document.getElementsByClassName("tablinksHisto active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }

</script>
{% endblock %}