<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Coronavirus - map</title>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script> 
        <link rel="stylesheet" type="text/css" href="/static/css/map.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>

    <body>
        {% include 'header.html' %}
        <div id="main">
            <div id='confirmed'>
                <div id="title" class="div-border div-title">
                    <h3>Total confirmed</h3>
                    <span class="number red">{{ confirmed['total'] }}</span>
                </div>
                <div class="div-list div-border text-center">
                    <div>
                        <p>Confirmed Cases by Country/Region/Sovereignty</p>
                    </div>
                    <div id="list">
                        {% for country in confirmed['data'] %}
                            {% if country['total'] > 0 %}
                            <div class='feature-list cursor-pointer'>
                                <h5>
                                    <a href="/{{ country['country_code'] }}">
                                        <span class='red'>{{ country['total'] }}</span>
                                        <span>{{ country['country'] }}</span>
                                    </a>
                                </h5>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="container" class="container">
                <div id='loader'></div>
                <div id="map"></div>
            </div>
            <div id="death">
                <div id="title" class="div-border div-title">
                    <h3>Total deaths</h3>
                    <span class="number red">{{ death['total'] }}</span>
                </div>
                <div class="div-list div-border text-center">
                    <div>
                        <p>Confirmed Cases by Country/Region/Sovereignty</p>
                    </div>
                    <div id="list">
                        {% for country in death['data'] %}
                            {% if country['total'] > 0 %}
                            <div class='feature-list cursor-pointer'>
                                <h5>
                                    <a href="/{{ country['country_code'] }}">
                                        <span class="red">{{ country['total'] }}</span>
                                        <span>{{ country['country'] }}</span>
                                    </a>
                                </h5>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="recovered">
                <div id="title" class="div-border div-title">
                    <h3>Total recovered</h3>
                    <span class="number green">{{ recovered['total'] }}</span>
                </div>
                <div class="div-list div-border text-center">
                    <div>
                        <p>Confirmed Cases by Country/Region/Sovereignty</p>
                    </div>
                    <div id="list">
                        {% for country in recovered['data'] %}
                            {% if country['total'] > 0 %}
                            <div class='feature-list cursor-pointer'>
                                <h5>
                                    <a href="/{{ country['country_code'] }}">
                                        <span class="green">{{ country['total'] }}</span>
                                        <span>{{ country['country'] }}</span>
                                    </a>
                                </h5>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
<script type="text/javascript" src='/static/js/global.js'></script>