<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Coronavirus - map</title>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/map.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>

    <body>
        <div id="header">
            <p>
                Coronavirus COVID-19 Global Cases
            </p>
        </div>
        <div id="main">
            <div id='confirmed'>
                <div id="title" class="div-border div-title">
                    <h3>Total confirmed</h3>
                    <span class="number">{{ confirmed['total'] }}</span>
                </div>
                <div id="list" class="div-border text-center">
                    <p>Confirmed Cases by Country/Region/Sovereignty</p>
                    {% for country in confirmed['data'] %}
                        <div>
                            <tr>
                                <td>{{ country['country'] }}</td>
                                <td>{{ country['total'] }}</td>
                            </tr>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="container" class="container">
                <div id="map"></div>
            </div>
            <div id="death">
                <div id="title" class="div-border div-title">
                    <h3>Total deaths</h3>
                    <span class="number">{{ death['total'] }}</span>
                </div>
                <div id="list" class="div-border text-center">
                    <p>Deaths Cases by Country/Region/Sovereignty</p>
                    {% for country in death['data'] %}
                        <div>
                            <tr>
                                <td>{{ country['country'] }}</td>
                                <td>{{ country['total'] }}</td>
                            </tr>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="recovered">
                <div id="title" class="div-border div-title">
                    <h3>Total recovered</h3>
                    <span class="number">{{ recovered['total'] }}</span>
                </div>
                <div id="list" class="div-border text-center">
                    <p>Recovered Cases by Country/Region/Sovereignty</p>
                    <div id="list" class="div-border text-center">
                        <p>Deaths Cases by Country/Region/Sovereignty</p>
                        {% for country in recovered['data'] %}
                            <div>
                                <tr>
                                    <td>{{ country['country'] }}</td>
                                    <td>{{ country['total'] }}</td>
                                </tr>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <p>@Copyright 2020 developped by <a href=" ">Mahdi GUEFFAZ</a></p>
        </div>
    </body>
</html>
<script type="text/javascript" src='/static/js/confirmed.js'></script>